// Color 
$primary-color:                 #f99a00;
$sub-title:                     #7b7b7a;
$title-color:                   #524a1f;
$white:                         #fff;
$black:                         #000;
$text-descr:                    #666;
$text-footer:                   #bebebe;
$tb-bg:                         #2e2c97;
$section-bg:                    #f8f8f8;
$footer-bg:                     #363636;
$footer-nav-color:              #e1e1e0;

// Font size
$font-sub-title:                 13px;
$font-x-small:                   14px;
$font-normal:                    16px;
$font-small:                     18px;
$font-medium:                    20px;
$font-logo-text:                 24px;
$font-large:                     26px;
$font-price:                     32px;
$font-x-large:                   35px;
$font-title:                     36px;
$font-huge:                      70px;



// Font weight 

$font-weight-light:             300;
$font-weight-regular:           400;
$font-weight-semi-bold:         500;
$font-weight-bold:              700;
$font-weight-default:           $font-weight-regular;

