

.toolbar-right {
    .material-icons {
        font-size: 20px;
        color: $white;
    }
}

.header-toolbar 
    .toolbar-left 
        .material-icons {
            display: block;
            margin-right: 6px;
            font-size: 12px;
        }
    .toolbar-right 
        .cart::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 1px;
            background: rgba(255,255,255,.1);
}