mixin product-feature(src, text, info)
    .col.l-3.m-6.c-12.product-feature 
        .feature-info  
            .img-wrapper   
                img(src= src, alt="")
        .feature-text  
            h3.feature-text-heading #{text}
            p.feature-text-descr #{info}

