mixin single-card(src, text, info)
    .col.l-4.m-4.c-12.single-card-wrapper
        .single-card 
            .card-img-wrapper 
                img(src=src alt="")
            h4.card-title #{text}
            p.card-descr #{info}
