mixin slide-controller()
    .slide-controller 
        button.controller-btn.btn-left
            span 
                i.material-icons arrow_back
        button.controller-btn.btn-right
            span 
                i.material-icons arrow_forward
