footer.site-footer 
    .container 
        .footer-wrap
            .footer-top 
                .row 
                    .col.l-4.m-4.c-12    
                        .footer-info 
                            a.logo-text(href="#") Girol
                            div 
                                p.footer-descr Lorem ipsum odor amet, consectetuer adipiscing elit. Non malesuada donec habitant primis parturient mauris porta. Mauris sapien ornare quam
                                .footer-social 
                                    h4.footer-social-top SOCIAL 
                                        span.footer-social-top-orange ACTIVIST
                                    ul.footer-social-bottom 
                                        li.footer-social-bottom-item 
                                            a.footer-social-link(href="#")
                                                span   
                                                    i.material-icons public
                                        li.footer-social-bottom-item 
                                            a.footer-social-link(href="#")
                                                span   
                                                    i.material-icons public
                                        li.footer-social-bottom-item 
                                            a.footer-social-link(href="#")
                                                span   
                                                    i.material-icons public
                                        li.footer-social-bottom-item 
                                            a.footer-social-link(href="#")
                                                span   
                                                    i.material-icons public
                    .col.l-4.m-4.c-12 
                        .footer-nav 
                            h3.footer-title QUICK LINKS
                            ul.footer-main-nav 
                                li.footer-nav-item 
                                    a.footer-nav-link(href="#") Home
                                li.footer-nav-item 
                                    a.footer-nav-link(href="#") Shop  
                                li.footer-nav-item 
                                    a.footer-nav-link(href="#") About Us
                                li.footer-nav-item 
                                    a.footer-nav-link(href="#") Contact 

                    .col.l-4.m-4.c-12 
                        .footer-contact
                            h3.footer-title CONTACT INFO 
                            ul.footer-data 
                                li.footer-data-item
                                    .footer-data-icon 
                                        span   
                                            i.material-icons location_on
                                    .footer-data-text  Vigo City 78, New York, Park land place New York, Queens.
                                li.footer-data-item
                                    .footer-data-icon 
                                        span   
                                            i.material-icons call
                                    .footer-data-text  01 (09) 125 6589 123
                                li.footer-data-item
                                    .footer-data-icon 
                                        span   
                                            i.material-icons mail
                                    .footer-data-text Demo@demolink.com
            .footer-bottom Copyright © 2023 Vconits. All Rights Reserved.