section.header-toolbar 
    .header-container.toolbar-container
        .toolbar-left
            .address
                span 
                    i.material-icons location_on
                h5.toolbar-info-text Vigo City 78, New York, Park land place New York, Queens.
            .contact 
                span 
                    i.material-icons call
                a.toolbar-info-text(href='tel:01 (09) 125 6589 123') 01 (09) 125 6589 123
        .toolbar-right
            .cart 
                a(href="")
                    span 
                        i.material-icons shopping_cart
            .languages
                .language.en
                    img(src="./images/en.png" alt="")
                .language.vi
                    img(src="./images/vi.png" alt="")