.header-container
    //- pc
    .header-top
        .header-top-wrapper 
            //- logo 
            .logo-box 
                a.logo-text(href="#") Girol 
            //- nav 
            .nav-wrapper 
                .menu-desktop 
                    ul.main-nav-list 
                        li.main-nav-item.is-active 
                            a.main-nav-link(href="#") Home
                        li.main-nav-item
                            a.main-nav-link(href="#") Shop 
                            ul.sub-nav 
                                li.sub-nav-list 
                                    a.sub-nav-link(href="#") INFINITY MEDS Injection
                                li.sub-nav-list 
                                    a.sub-nav-link(href="#") INFINITY MEDS Oral
                                li.sub-nav-list 
                                    a.sub-nav-link(href="#") SYNERGENYX Injection
                                li.sub-nav-list 
                                    a.sub-nav-link(href="#") SYNERGENYX Oral
                        li.main-nav-item
                            a.main-nav-link(href="#") About Us
                        li.main-nav-item
                            a.main-nav-link(href="#") Contact
                .search-box 
                    .site-search 
                        form.search-form(action="")
                            .search-form 
                                span 
                                    i.material-icons search  
                                input.search-form-field(type="text" placeholder="Search products...")
                            .search-submit 
                                input.search-submit(type="submit" name="" id="" value="Search")

    //- mb
    .site-device 
        .menu-device-btn
            .btn-wrapper    
                span 
                span 
                span 