include ./mixins/_headline-block.pug
include ./mixins/_single-card.pug

section.section-style-4 
    +headline-block("Eating For Optimal Health", "Fuel Your Body With Nutrient-Dense Foods And Healthy Eating Habits")
    section 
        .section-bg 
            .container 
                .cards-wrapper 
                    .row 
                        +single-card("./images/placeholder.png", "Elevate Your Fitness with Healthy, High-Protein Foods", "Fuel your workouts and support your fitness goals with healthy, high-protein foods that keep you energized and feeling strong.")
                        +single-card("./images/placeholder.png", "Elevate Your Fitness with Healthy, High-Protein Foods", "Fuel your workouts and support your fitness goals with healthy, high-protein foods that keep you energized and feeling strong.")
                        +single-card("./images/placeholder.png", "Elevate Your Fitness with Healthy, High-Protein Foods", "Fuel your workouts and support your fitness goals with healthy, high-protein foods that keep you energized and feeling strong.")