include ./mixins/_single-product-box
section.section-style-3    
    .container 
        .products-area 
            .row 
                .col.l-6.m-12.c-12 
                    .small-products 
                        +single-product-box("PROVIRON", "SYNERGENYX ORAL", "650.000", "./images/Proviron-S-scaled.jpg")
                        +single-product-box("PROVIRON", "SYNERGENYX ORAL", "650.000", "./images/Proviron-S-scaled.jpg")
                .col.l-6.m-12.c-12 
                    .product-wrapper.large 
                        .slide-wrapper 
                            .products-slider-controller
                                button.controller-btn.btn-left 
                                    span
                                        i.material-icons arrow_back
                                button.controller-btn.btn-right 
                                    span
                                        i.material-icons arrow_forward
                            .product-slider-item
                                .product-text 
                                    h4.product-title PROVIRON
                                    h6.product-sub-title SYNERGENYX ORAL
                                    p.product-descr Since Dianabol was introduced back in the 1950s, bodybuilders have continued to use this steroid for their bulking workout and training programs. Dianabol or Dbol offers users fantastic bodybuilding gains. This steroid will help increase skeletal muscle mass while improving your athleticism at the same time. Dbol also helps you recover quickly from muscle injuries encountered during your intense training sessions. Mhetan is not an over-the-counter drug, but you can now buy real oral Dianabol online for your bodybuilding and bulking workout schedule. In this guide, you will get to know the effects of Dbol, the best dosage/cycle, and where you can buy genuine Dianabol online. Effects of Dianabol Some of the effects of Mhetan include; Enhanced skeletal muscle mass: Using Dbol will boost your nitrogen retention, IGF-1 hormone, and protein production.Mhetan will also promote protein synthesis which stimulates the growth of your skeletal muscles. Increased stamina, and strength: Dianabol will increase your red blood cell count which will in turn boost your energy and skeletal muscle strength. Dbol will also improve your cardiovascular conditioning and stamina. Using Dbol will provide you with 14 kg or 30 lb of strength for large compound lifts. Improved recovery time: Dianabol will boost your collagen production and increase your bone density. Increased collagen production will also help speed up your recovery time from high interval intensity training (HIIT) muscle injuries. Best Dianabol Cycle Before you buy real oral Dianabol online, you need to know what cycle and dosage would be best for you. You need to consult with your doctor or a reliable bodybuilding trainer before you start running any Dbol cycle. Dbol is metabolised by your liver when taken, so it is always advisable to run short cycles. You may also need to take liver protection medication, especially if you have to take high doses over a short or long cycle. A typical beginner solo Dianabol cycle should run for a period of 5 weeks. For your second Dbol cycle you can extend your intake by one week. Advanced level bodybuilders can run a 6 to 8 week Dbol cycle. Dbol can be also stacked with other bulking and performance enhancing anabolic steroids like Deca-Durabolin, Testosterone Enanthate, and Anadrol. You can combine Dbol with other steroids and run a 4 to 8 week cycle (depending on recommendations from your physician or trainer). Oral Dianabol Dosage Knowing what Dbol cycle is best for you is necessary, but equally important is knowing what dosage to take when you buy real oral Dianabol online. Highlighted below are Dbol dosages for beginners, intermediate, and advanced bodybuilders. Also highlighted are dosages for some popular Dbol stacks.
                                    h3.product-price
                                        span   
                                            bdi 650.000 
                                                span VND
                                    a.animate-orange-btn(href="#") Order now! 
                                .product-img 
                                    .img-wrapper 
                                        img(src="./images/Proviron-S-scaled.jpg" alt="")