include ./mixins/_slide-controller.pug
section.section-style-1 
    +slide-controller
    .elementor-hero-img
        .container.banner-container 
            .row 
                .col.l-6.m-7.c-12.banner-info.banner-left 
                    h1.banner-title Trenbolon.H
                    p.banner-descr Trenbolone Hexahydrobenzyl Carbonate is a strong ,androgenic steroid which also has a high anabolic effect.Everyone who uses trenbolone is enthusiastic about the results:a fast gain in solid,high-quality muscle mass with a strength increase .In addition ,the regulate application over a number of weeks results in a well visible increased muscle hardness over the entire body without dieting at the same time.Unlike for most highly -androgenic steroids,trenbolone doesn’t aromatize. 
                    .product-mb 
                        img(src="./images/TRENBOLONE.H-scaled.jpg" alt="")
                    .banner-btns 
                        a.banner-btn.white-btn(href="#") Purchase 
                        a.banner-btn.animate-white-btn(href="#") More

                .col.l-6.m-5.c-0.banner-info.banner-right 
                    .product-img 
                        img(src="./images/TRENBOLONE.H-scaled.jpg" alt="")







