include ./mixins/_product-feature.pug 
section.section-style-2 
    .top-feature
        .container 
            .feature-border    
                .row 
                    .col.l-3.m-6.c-12.product-img 
                        img(src="./images/placeholder.png" alt="")
                    +product-feature("./images/placeholder.png","Elevate Your Health with a Nutrient-Packed Diet","Discover the power of a nutrient-packed diet to fuel your body, boost your energy, and support your overall health and wellness.")
                    +product-feature("./images/placeholder.png","Choose Healthy, Nourishing Foods for a Stronger You","Make a conscious choice to fuel your body with healthy, nourishing foods that help you feel your best and stay strong.")
                    +product-feature("./images/placeholder.png","Discover the Delicious Taste of Clean Eating","Experience the delicious taste of clean eating, with fresh, whole foods that provide the fuel and nourishment your body needs.")